.letter-crossed{
  text-decoration: line-through;
  color: grey;
}

.available-letters .letter{
  cursor: pointer;
}

.high-score{
  color: green;
}

.medium-score{
  color: orange;
}

.low-score{
  color: orangered;
}